*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: auto;
}

.clr{
    clear: both;
}

/******* Start Home Page  *******/
.nav{
    background-color: #46434391;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
}

.nav .container .logo{
    float: left;
    width: 50%;
}
.nav .container .navItem{
    float: right;
    width: 50%;
}

.logo h1{
    color: #FF1C1D;
    font-size: 25px;
    padding-top: 20px;
}
.nav .container .navItem ul{
    list-style-type: none;
}
.nav .container .navItem ul li{
    float: left;
    margin: 20px;
    
}
.nav .container .navItem ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.nav .container .navItem ul li a:hover{
    color: #FF1C1D;
}
.header{
    height: 100vh;
    width: 100%;
    background-image: url(./../header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.header .layer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.767);
}
.header  .content{
    width: 50%;
    text-align: center;
    margin: auto;
    padding-top: 20%;
    
}
.header .layer .content h2 , h1 , h3{
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    
}
.header .layer .content h1{
    color: #ff305b;
    font-weight: 700;
    font-size: 70px;
}
.header .layer .content h2 , h3{
    color: white;
}
/******* END Home Page  *******/
/******* Start about Page  *******/
.aboutPage{
    width: 100%;
    padding-top: 40px;

}
.aboutPage .image{
    width: 50%;
    float: left;
    position: relative;
    overflow: hidden;
}
/* .aboutPage .image::before{
    content: "";
    width: 100%;
    height: 100%;
    margin-left: 55px;
    
    border: 10px solid #555555;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
} */
.aboutPage .image img{
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
    
}
.aboutPage .image .image-icons{
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    transition: all 1s;
}
.aboutPage .image .image-icons ul{
    list-style-type: none;   
}
.aboutPage .image .image-icons ul li{
    /* float: left; */
    display: inline-block;
    padding: 5px 10px;
    margin-top: 50%; 
}
.aboutPage .image .image-icons ul li a{
    color: white;
}
.aboutPage .image .image-icons ul li a:hover{
    color: #FF305B;
}
.aboutPage .image:hover .image-icons{
    transform: translateY(0%);
    margin-top: 30px;
    border-radius: 30px;
}

.aboutPage .aboutInfo{
    width: 50%;
    float: right;
    font-family: 'Source Sans Pro', sans-serif;;
}
.aboutPage .aboutInfo h2{
    position: relative;
    padding-left: 10px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
.aboutPage .aboutInfo h2::before{
    content: "";
    width: 5px;
    height: 25px;
    background-color: #FF305B;
    position: absolute;
    top: 0;
    left: 0;
}
.aboutPage .aboutInfo p{
    border-bottom:#555555 2px dashed;
    padding-bottom: 20px ;
    font-family: 'Source Sans Pro', sans-serif;
    color: #555555;
}

.aboutPage .aboutInfo ul{
    list-style-type: none;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    width: 50%;
   
}
.aboutPage .aboutInfo ul li{
    padding-block: 5px;
    margin: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
}
.aboutPage .aboutInfo ul li span{
    color: #555555;
}
.aboutPage .aboutInfo ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
    color: #555555;
}
.aboutPage .aboutInfo button{
    font-size: 18px; 
    padding: 12px;
    margin-right: 10px;
    background-color: #FF305B;
    color: white;
    text-align: center;
    border: 2px solid #FF305B;
    border-radius: 3px
    
}
.aboutPage .aboutInfo button:hover{
    background-color:#FF1C1D;
    border: 2px solid #FF1C1D;
}
/******* END about Page  *******/

/******* Start about Page  *******/
.Services{
    background-color: #F1F1F1;
    text-align: center;
    padding-top: 40px;
    margin-top: 70px;
    
}
.ourServices{
    margin: auto;
    position: relative;
    
}
.ourServices h2{
    color: #333333;
    font-size: 35px;
    font-weight: 750;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 20px;
}
.ourServices h2::before{
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0px;
    padding: 4px 0 5px;
    width: 70px;

}

.ourServices h2::after{
    content: "";
    left: 0;
    right: 0;
    bottom: 5px;
    margin: 0 auto;
    position: absolute;
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0 0 0;
    width: 170px;
}
.services-item .item{
    float: left;
    width: 25%;
    padding: 55px;
}
.services-item .item i{
    color: #FF305B;
    font-size: 30px;
    padding: 20px;
}
.services-item .item :hover i{
    transform: scale(10px);
}
.services-item .item h3{
    color: #333333;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}
.services-item .item p{
    color: #555555;
}
.services-item .item:hover{
    background-color: white;
}
/******* END about Page  *******/

/******* start Portfolio Page  *******/
.Portfolio{
    padding-top: 40px;
    margin-top: 40px;
}
.Portfolio .ourPortfolio{
    text-align: center;
}
.Portfolio .ourPortfolio h2{
    padding-top: 20px;
    color: #333333;
    font-size: 35px;
    font-weight: 750;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    padding-bottom: 20px;
}
.Portfolio .ourPortfolio h2::before{
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0px;
    padding: 4px 0 5px;
    width: 70px;
}
.Portfolio .ourPortfolio h2::after{
    content: "";
    left: 0;
    right: 0;
    bottom: 5px;
    margin: 0 auto;
    position: absolute;
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0 0 0;
    width: 170px;
}
.Portfolio .ourPortfolio ul{
    list-style-type: none;
    
}
.Portfolio .ourPortfolio ul li{
    padding-block: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    display: inline-block;
    margin: 10px;

}
.Portfolio .ourPortfolio ul li a{
    text-decoration: none;
    color: #333333;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
}
.Portfolio .ourPortfolio ul li a:hover{
    color: #FF305B;
}

.Portfolio .container .portfolio-image{
    margin-top: 20px; 
}
.Portfolio .portfolio-image .item{
    float: left;
    width: 31%;
    margin: 20px 10px;
    position: relative;
    overflow: hidden;
}
.Portfolio .portfolio-image .item img{
    width: 100%;
    display: block;
}
.Portfolio .portfolio-image .item .image-icon{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 1s;
    
}
.Portfolio .portfolio-image .item .image-icon i{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 20px;
    color: #FF305B;
}
.Portfolio .portfolio-image .item:hover .image-icon{
    opacity: 1;

}
/******* End Portfolio Page  *******/

/******* start Portfolio Page  *******/
.sec5{
    background-color: #F1F1F1;
    padding: 40px;
    margin-top: 40px;
}
.sec5 .container .items{
    float: left;
    width: 25%;
    text-align: center;
    padding: 40px;
}
.sec5 .container .items i{
    font-size: 30px;
    padding-bottom: 15px ;
    color: #FF305B;
}
.sec5 .container .items h2 {
    font-size: 25px;
    font-weight: 600;
    color: #333333;
}
.sec5 .container .items p{
    font-size: 25px;
    font-weight: 400;
    color: #333333;
}
/******* End sec5 Page  *******/

/******* Start feedback Page  *******/
.feedback-Page{
    padding-top: 40px;
    margin-top: 40px;
    
}
.feedback-Page .container{
    width: 60%;
}
.feedback-Page .container .head{
    padding: 15px; 
    text-align: center;
}
.feedback-Page .container .head h2{
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #333333;
    font-size: 35px;
    font-weight: 750;
    font-family: 'Source Sans Pro', sans-serif;
}
.feedback-Page .container .head h2::before{
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0px;
    padding: 4px 0 5px;
    width: 70px;
}
.feedback-Page .container .head h2::after{
    content: "";
    left: 0;
    right: 0;
    bottom: 5px;
    margin: 0 auto;
    position: absolute;
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0 0 0;
    width: 170px;
}
.feedback-Page .container .contant .contant-image{
    float: left;
    width: 50%;
    text-align: center;
    /* margin: 30px auto; */
    padding: 20px 10px 0 0px;
    position: relative;
    z-index: 1;
    
}
.feedback-Page .container .contant .contant-image img{
    border-radius: 50%;
     
}
.feedback-Page .container .contant{
    position: relative;
    overflow: hidden;
    background-color: #F1F1F1;
}
.feedback-Page .container .contant::after{
    content: "";
    position: absolute;
    top: 100;
    left: 0;
    bottom: 0;
    right: 200;
    width: 350px;
    height: 250px;
    background-color: #FF305B;
    transform: rotate(100deg);

}

.feedback-Page .container .contant .contant-info{
    float: right;
    width: 50%;
    padding-top: 40px;

}
.feedback-Page .container .contant .contant-info h3{
    color: #333333;
    font-size: 20px;
    font-weight: 550;
    font-family: 'Source Sans Pro', sans-serif;
}
.feedback-Page .container .contant .contant-info i{
    color: #333333d1;
    font-size: 15px;
    padding-bottom: 15px;
}
.feedback-Page .container .contant .contant-info p{
    color: #333333c8;
    padding: 0 70px 10px 0;
}
.feedback-Page .container .contant .contant-info span{
    color: #333333;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;

}
.feedback-Page .container .contant .contant-info ul{
    list-style-type: none;

}
.feedback-Page .container .contant .contant-info ul li i{
    float: left;
    color: #F1C30D;
    margin: 0 2px;
}
/******* End feedback Page  *******/
/******* Start Blog Page  *******/
.blog-page{
    background-color: #F1F1F1;
    padding-top: 40px;
    margin-top: 40px;
}
.blog-page .container .head{
    padding: 20px;
    text-align: center;
}
.blog-page .container .head h2{
    position: relative;
    padding-bottom: 20px;
    color: #333333;
    font-size: 35px;
    font-weight: 750;
    font-family: 'Source Sans Pro', sans-serif;

}
.blog-page .container .head h2::before{
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0px;
    padding: 4px 0 5px;
    width: 70px;
}
.blog-page .container .head h2::after{
    content: "";
    left: 0;
    right: 0;
    bottom: 5px;
    margin: 0 auto;
    position: absolute;
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0 0 0;
    width: 170px;
}

.blog-page .container .content .item{
    float: left;
    width: 31%;
    margin: 0 13px;
}
.blog-page .container .content .item .inner .item-info{
    background-color: #fff;
    padding-bottom: 30px;
    
}

.blog-page .container .content .item img{
    width: 100%;
    display: block;
}
.blog-page .container .content .item iframe{
    width: 100%;
    display: block;
}
.blog-page .container .content .item p {
    padding: 10px 70px 15px 15px
}
.blog-page .container .content .item a{
    padding: 20px 0 0 15px;
    text-decoration: none;
    
}
.blog-page .container .content .item a h3{
    color: #333333;
    padding-left: 15px;
    
}
.blog-page .container .content .item a h3:hover{
    color: #FF305B;
}

.blog-page .container .content .item span{
    padding: 0 0 15px 0px;
}
.blog-page .container .content .item span a{
    text-decoration: none;
    color: #333333;
    padding-bottom: 15px;
}
.blog-page .container .content .item span a:hover{
    color: #FF305B;
}
/******* End blog Page  *******/

/******* Start Contact Page  *******/
.contact-page{
    padding-top: 40px;
    margin-top: 40px;
}
.contact-page .container .head{
    padding: 20px;
    text-align: center;
}
.contact-page .container .head h2{
    position: relative;
    padding-bottom: 20px;
    color: #333333;
    font-size: 35px;
    font-weight: 750;
    font-family: 'Source Sans Pro', sans-serif;

}
.contact-page .container .head h2::before{
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0px;
    padding: 4px 0 5px;
    width: 70px;
}
.contact-page .container .head h2::after{
    content: "";
    left: 0;
    right: 0;
    bottom: 5px;
    margin: 0 auto;
    position: absolute;
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0 0 0;
    width: 170px;
}
.contact-page .container .contact-form{
    text-align: center;
    width: 60%;
    margin: 0 222px 0 222px;
    padding: 20px;

}
.contact-page .container .contact-form .form-input{
    margin-bottom: 30px;
}
.contact-page .container .contact-form .form-input input , textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 8px;
    font-size: 15px;
    outline: 0;
    color: #333333;

}
.contact-page .container .contact-form .row{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.contact-page .container .contact-form .row .form-input{
    flex-basis: 48%;
}
.contact-page .container .contact-form button{
    font-size: 18px; 
    padding: 12px;
    margin-top: 10px;
    margin-left: -500px;
    background-color: #FF305B;
    color: white;
    text-align: center;
    border: 2px solid #FF305B;
    border-radius: 8px
   
}
.contact-page .container .contact-form button:hover{
    background-color: #FF1C1D;
}
/******* End contact Page  *******/

/******* Start contact Page  *******/
.footer{
    background-color: #333333;
    padding-top: 40px;
    margin-top: 40px;
}
.footer .container .image-icons{
    text-align: center;
}
.footer .container .image-icons ul{
    list-style-type: none;
}
.footer .container .image-icons ul li{
    padding-block: 20px;
    text-align: center;
    display: inline-block;
    margin-right: 8px;
    font-size: 20px;
}
.footer .container .image-icons ul li a{
    color: #fff;
}
.footer .container .image-icons ul li a:hover{
    color: #FF305B;
}
.footer .container .footer-content{
    padding: 0 30px 30px 30px;
    text-align: center;
}
.footer .container .footer-content p{
    color: #fff;
    font-size: 15px;
    font-weight: 750;
    font-family: 'Source Sans Pro', sans-serif;
}
.footer .container .footer-content p span a{
    text-decoration: none;
    color: #FF305B;
}
.footer .container .footer-content p span a:hover{
    text-decoration: underline;
}
/******* End contact Page  *******/









































